* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Global */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Colores principales */
:root {
  --padel-blue: #05374d;
  --background-light: #f5f5f5;
  --gray-light: #777;
  --border-color: #ddd;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--padel-blue);
  color: white;
  position: relative;
  z-index: 50;
}

.navbar + .header {
  margin-top: 1.5rem;
  border-top: 3px solid var(--border-color);
  padding-top: 1.5rem;
}

/* Navbar Menu (hamburger) */
.navbar__menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  max-width: 300px;
  height: 100vh;
  background-color: var(--padel-blue);
  padding: 80px 20px 20px;
  transition: right 0.3s ease;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  z-index: 40;
}

.navbar__menu.active {
  right: 0;
}

body.menu-open {
  overflow: hidden;
}

.navbar__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.navbar__item {
  margin: 0 0 20px 0;
  position: relative;
}

.navbar__item:not(:last-child)::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: -10px;
  left: 0;
}

.navbar__link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 0;
  transition: transform 0.2s ease;
}

.navbar__link:hover {
  transform: translateX(5px);
}

.navbar__icon {
  font-size: 1.5rem;
  margin-right: 10px;
}

/* Hamburger Icon */
.navbar__hamburger {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30px;
  height: 25px;
  z-index: 70;
  margin-left: 75vw;
}

.navbar__hamburger-bar {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

.navbar__hamburger.active .navbar__hamburger-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.navbar__hamburger.active .navbar__hamburger-bar:nth-child(2) {
  opacity: 0;
}

.navbar__hamburger.active .navbar__hamburger-bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Header */
.header {
  color: white;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/b4.jpg');
  background-repeat: no-repeat;
  background-position: 80% 60%;
  filter: brightness(40%);
  z-index: -1;
}

.header__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.header__description {
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* Main Section */
.main {
  padding: 2rem;
  background-color: var(--background-light);
}

/* Noticias Section */
.news {
  margin-top: 2rem;
}

.news__title h2 {
  font-size: 2rem;
  color: var(--padel-blue);
  margin-bottom: 1.5rem;
  text-align: center;
}

.news__items {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

.news__item {
  background-color: white;
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news__item-image {
  max-width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.news__item-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--padel-blue);
  margin-bottom: 1rem;
}

.news__item-description {
  font-size: 1rem;
  color: var(--gray-light);
}

.news__item-link {
  display: block;
  margin-top: 10px;
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

.news__item-link:hover {
  text-decoration: underline;
  color: #0056b3;
}

/* Footer */
.footer {
  background-color: var(--padel-blue);
  color: white;
  padding: 1rem;
  text-align: center;
}

.footer__text {
  font-size: 1rem;
}

/* Responsive Queries */

/* Tablet */
@media (min-width: 600px) and (max-width: 1023px) {
  .main {
      padding: 3rem;
  }

  .news__items {
      grid-template-columns: 1fr 1fr;
  }

  .news__item {
      padding: 2rem;
  }

  .news__item-image {
      height: 120px; 
  }

  .navbar__hamburger {
      display: flex;
      margin-left: 85vw;
  }

  .navbar__menu {
      position: fixed;
      right: -100%;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .header__title {
      font-size: 3rem;
      padding: 1rem 15vw;
  }

  .header__description {
      font-size: 1.5rem;
      padding: 1rem 25vw;
  }

  .main {
      padding: 4rem;
  }

  .news__items {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .news__item {
      padding: 2.5rem;
  }

  .news__item-image {
      height: 180px; 
  }

  .navbar__hamburger {
      display: none;
  }

  .navbar__menu {
      position: static;
      width: auto;
      height: auto;
      padding: 0;
      box-shadow: none;
      display: flex;
      justify-content: center;
      margin-left: 75vw;
  }

  .navbar__list {
      flex-direction: row;
  }

  .navbar__item {
      margin-right: 30px;
      margin-bottom: 0;
  }

  .navbar__item:not(:last-child)::after {
      display: none;
  }

  .navbar__text {
      display: none;
  }

  .navbar__item:hover .navbar__text {
      display: inline;
  }

  .navbar__item:hover .navbar__icon {
      transform: scale(1.5);
      transition: transform 0.6s ease;
  }

  .navbar__link:hover {
      transform: none;
  }
}